<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youngje.tgwing.accommodations">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_background_splash"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <!-- mixare -->
        <activity
            android:name="com.youngje.tgwing.accommodations.ARAccomdation.mixare.MixListView"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.youngje.tgwing.accommodations.ARAccomdation.mixare.MixView"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="application/mixare-json"
                    android:scheme="http" />
                <data
                    android:mimeType="application/mixare-json"
                    android:scheme="content" />
                <data
                    android:mimeType="application/mixare-json"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".MixView" />
        </activity>
        <activity android:name="com.youngje.tgwing.accommodations.ARAccomdation.mixare.MixareActivity" />

        <activity
            android:name="com.youngje.tgwing.accommodations.ARAccomdation.WriteDocumentActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.youngje.tgwing.accommodations.ARAccomdation.ReadDocumentActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogTheme" />


        <activity
            android:name="com.youngje.tgwing.accommodations.ARAccomdation.UserProfileActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.youngje.tgwing.accommodations.ARAccomdation.MainActivity"
            android:screenOrientation="landscape" />

        <!-- accomadations Activity -->


        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.UserSignInActivity" />
        <activity android:name=".Activity.BaseActivity" />
        <activity
            android:name=".Activity.MapSearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activity.CommunityChatroomActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>
        <activity android:name=".Activity.SearchListDetailView" />
        <activity android:name=".Activity.WriteReviewActivity" />

        <activity android:name=".Activity.ReadMarkerActivity" />
        <activity android:name=".Activity.UserInformationActivity"/>
        <activity android:name=".Activity.MyReviewActivity">
        </activity>
    </application>

</manifest>