<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youngje.tgwing.accommodations">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.UserSignInActivity" />
        <activity android:name=".Activity.BaseActivity" />
        <activity
            android:name=".Activity.MapSearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activity.CommunityChatroomActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
        <activity android:name=".Activity.SearchListDetailView" />
        <activity android:name=".Activity.CommunityMainActivity" />
        <activity android:name=".Activity.WriteReviewActivity" />
        <activity android:name=".Activity.ReadMarkerActivity"></activity>
        
        
    </application>

</manifest>